body {
    background-image: url("/src/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Kalam", cursive;
    margin: auto;
    overflow: auto;
    /* background: linear-gradient(315deg, rgb(154, 148, 137) 38%, rgb(154, 148, 137) 38%, rgb(57, 122, 118) 68%, rgba(185, 61, 61, 0.658) 98%); 2nd Version */
    /* animation: gradient 15s ease infinite; 2nd Version */
    /* background-size: 400% 400%; 2nd Version */
    /* background-attachment: fixed;  2nd Version */
    
   }

/*ALL KEY FRAMES 2nd Version */ 
   
/* @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(156, 91, 91, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
} */

/* ALL KEYFRAMES 2nd VERSION CSS*/





#userForms{
    background-color: #f8f6f0d4;
    border: 2px solid #08080864; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.714); 
   }

#userFormsTitle{
    color:#00a19b ;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    /* text-shadow: white 2px 2px;         2nd Version */
}

#userFormsButtons{
    background-color: #f45f56;
    border-radius: 10px;
    color: white;
    margin: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.495) 1px 1px 1px 1px;   2nd version */
}

.userFormInputs{
    background-color: #f8f6f01a;
    border-radius: 20px;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    margin: 10px;
    width: 90%;
    /* box-shadow: rgba(0, 0, 0, 0.495) 1px 1px 1px 1px; 2nd version */
}