body {
    background-image: url("/src/assets/background.jpg");
    font-family: "Kalam", cursive;
   }

#userForms{
background-color: #f8f6f0d4;
   }

#userFormsTitle{
    color:#00a19b ;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

#userFormsButtons{
    background-color: #f45f56;
    border-radius: 10px;
    color: white;
    margin: 20px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
}

.userFormInputs{
    background-color: #f8f6f01a;
    border-radius: 20px;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    margin: 10px;
    width: 90%
}