.container{
    background-color: white;
}

.recipe{
    background-color: #fef8e3a4;
    width: 70%;
    text-align: center;
}

.recipeFeed{
    display: flex;
    justify-content: center;
}

.recipeHeader{
    display: flex;
    margin: 20px;
    
   
}

li{
    list-style: none;
    
}

.ingredientsAndMeasurements{
    display: flex;
    justify-content: center;

}

.userIcon{
    width: 10%;
    border-radius: 50%;
}

.listTitle{
    margin: 10px;
}

